<div class=" flex flex-col justify-center items-center gap-y-3 border rounded-lg p-4 mt-10 w-full">
  <!-- select pedido del usuario -->
  <mat-form-field class="w-full">
    <mat-label>Selecciona el pedido</mat-label>
    <mat-select required [(ngModel)]="idPedidoSeleccionado" (ngModelChange)="toggleStepper()">
      <mat-option>--</mat-option>
      @for(pedido of this.pedidosUsuario; track pedido.id) {
        <mat-option [value]="pedido.id">{{pedido.id}} ({{pedido.horaPedido | dateFormatHours}})</mat-option>
      }
      </mat-select>
      <mat-error>Pedido no seleccionado </mat-error>
  </mat-form-field>

  <!-- estado -->
  @if(this.mostrarStepper) {
    <div class="">
      <mat-stepper [orientation]="stepperOrientation" #stepper [selectedIndex]="selectedStepIndex" >
        <mat-step [stepControl]="firstFormGroup" label="Pedido en preparación" >
          <p>Nuestros cocineros están preparando tu deliciosa comida!!!</p>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Pendiente llegada" >
          <p>Uno de nuestros camareros le acercará la comida</p>
        </mat-step>
        <mat-step label="Pendiente de pago">
          <p>Esperemos que todo le haya gustado. Puede pagar x nuestra aplicación</p>
        </mat-step>
        <mat-step label="Pago completado">
          <p>Esperemos verle pronto!</p>
        </mat-step>
      </mat-stepper>
    </div>
  }
</div>

