<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6 text-gray-800">Quiénes somos</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-xl font-semibold mb-4 text-gray-800">Nuestra Misión</h2>
      <p class="text-gray-700 leading-relaxed">En TuRestauranteEnCasa nos esforzamos por ofrecer una experiencia culinaria única y de alta calidad, permitiendo a nuestros usuarios disfrutar de los mejores platos desde la comodidad de sus hogares.</p>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-xl font-semibold mb-4 text-gray-800">Nuestra Visión</h2>
      <p class="text-gray-700 leading-relaxed">Nos vemos como líderes en la industria de la restauración a domicilio, innovando constantemente para proporcionar soluciones tecnológicas avanzadas que mejoren la experiencia del cliente y promuevan la satisfacción y fidelidad de los usuarios.</p>
    </div>
  </div>

  <div class="mt-8">
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Nuestros Valores</h2>
    <ul class="list-disc pl-6 text-gray-700">
      <li class="mb-2">Calidad: Nos comprometemos a ofrecer platos de la más alta calidad, preparados con ingredientes frescos y sabrosos.</li>
      <li class="mb-2">Innovación: Buscamos constantemente nuevas formas de mejorar y optimizar nuestros servicios para satisfacer las necesidades y expectativas de nuestros clientes.</li>
      <li class="mb-2">Excelencia: Nos esforzamos por brindar un servicio excepcional en cada interacción con nuestros clientes, desde el pedido hasta la entrega.</li>
      <li class="mb-2">Compromiso: Estamos comprometidos con la satisfacción del cliente y trabajamos arduamente para superar las expectativas en cada entrega.</li>
      <li class="mb-2">Responsabilidad: Nos tomamos en serio la responsabilidad social y ambiental, adoptando prácticas sostenibles en todas nuestras operaciones.</li>
    </ul>
  </div>

  <div class="mt-8">
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Nuestro Equipo</h2>
    <p class="text-gray-700 leading-relaxed">En TuRestauranteEnCasa contamos con un equipo altamente calificado y apasionado por la gastronomía, comprometido con proporcionar la mejor experiencia culinaria a nuestros clientes. Nuestro equipo está formado por chefs talentosos, expertos en tecnología y profesionales de servicio al cliente, trabajando juntos para ofrecer un servicio excepcional en cada pedido.</p>
  </div>
</div>
