<div class="flex flex-col w-full bg-[#F3F4F6] gap-y-5 min-w-[60vw] px-10 my-14 py-4 rounded-lg">
  <!-- Header bienvenido usuario -->
  <header>
    <div class="w-full flex flex-col items-start justify-start">
      <h1 class="text-5xl font-bold">Bienvenido {{this.cliente.nombre}}</h1>
    </div>
  </header>

  <!-- vista administrador... -->
  <div class="flex flex-col justify-around items-center gap-y-6 w-full">
    <!-- importar excel -->
    <mat-accordion class="w-full">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Importar Comidas
          </mat-panel-title>
          <mat-panel-description>

            ¿Desea integrar nuevas comidas al menú?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- importar excel -->
        <div class="flex flex-col items-center justify-center gap-y-3">
          <form action="">
            <input (change)="onFileChange($event)" type="file" name="file" id="file" accept=".xlsx">
          </form>
          
          <!-- form add -->
          <app-form-add-food></app-form-add-food>
        </div>



      </mat-expansion-panel>
    </mat-accordion>

    <h3 class="text-gray-700">Pedidos en la última semana: </h3>
    <app-pedidos-chart class="w-full"></app-pedidos-chart>

    <div class="mt-5">
      <!-- mostrar fecha actual y el contador de usuarios contectados -->
      <div class="flex flex-row justify-between items-center gap-x-4">
        <div class="flex flex-col gap-y-2">
          <h3 class="text-2xl font-bold">Usuarios Conectados</h3>
          <p class="text-gray-500 text-lg pb-8">{{this.usuariosConectados}}</p>
        </div>
      </div>
    </div>



    <!-- pedidos registrados -->


  </div>