<div class="container w-full border rounded-lg flex flex-col justify-center items-center p-5">
  <!-- titulo vista -->
  <h1 class="text-4xl text-center font-bold mb-5">
    Registro
  </h1>

  <!-- contenedor del form -->
  <form class="flex flex-col items-start justify-center w-full mb-4">

    <!-- contenedor nombre y apellido -->
    <div class="flex flex-row items-center justify-between w-full gap-x-16">

      <!-- nombre input -->
      <div class="mb-4 block text-gray-700 font-bold">
        <label class="flex py-2" for="nombre"> Nombre </label>
        <input
          [(ngModel)]="cliente.nombre"
          name="nombre"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="nombre"
          type="text"
          placeholder="Nombre"
        />
      </div>

      <!-- apellido input -->
      <div class="mb-4 block text-gray-700 text-sm font-bold">
        <label class="flex py-2" for="apellido"> Apellido </label>
        <input
          [(ngModel)]="cliente.apellido"
          name="apellido"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="apellido"
          type="text"
          placeholder="Apellido"
        />
      </div>
    
    <!-- fin container nombre - apellido -->
    </div>
    
    <!-- contenedor email contraseña -->
    <div class="flex flex-row items-center justify-between gap-x-16">

      <!-- email -->
      <div class="mb-4 block text-gray-700 text-sm font-bold">
        <label class="flex py-2" for="email"> Email </label>
        <input
          [(ngModel)]="cliente.credenciales.email"
          name="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          placeholder="Email"
        />
      </div>

      <!-- contraseña -->
      <div class="mb-4 block text-gray-700 text-sm font-bold">
        <label class="flex py-2" for="password"> Contraseña </label>
        <input
          [(ngModel)]="cliente.credenciales.password"
          name="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="Contraseña"
          type="password"
          placeholder="Contraseña"
        />
      </div>

    </div>
    
    <!-- telefono input -->
    <div class="mb-4 text-gray-700 text-sm font-bold w-full flex flex-col items-center justify-center">
      <label class="flex py-2" for="telefono"> Teléfono </label>
      <input
        [(ngModel)]="cliente.telefono"
        name="telefono"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="telefono"
        type="number"
        placeholder="Teléfono"
      />
    </div>

    <!-- opcion rol -->
    <div class="flex flex-col items-center justify-center gap-y-2 font-bold w-full">
      <label for="tipoUsuario">Tipo de Usuario:</label>
      <select [(ngModel)]="this.cliente.rol" name="tipoUsuario" class="shadow appearance-none w-full p-1 px-4 border rounded-md bg-gray-50 border-gray-300 text-gray-900">
          <option value="USUARIO" selected>Usuario</option>
          <option value="ADMINISTRADOR">Administrador</option>
          <option value="COCINERO">Cocinero</option>
          <option value="CAMARERO">Camarero</option>
      </select>
  </div>


    <div class="pt-4 flex justify-center w-full">
      <button
      (click)="registrarUsuario()"
        class="w-full rounded-xl bg-[#A97D5D] hover:bg-[#6c4a32] text-white font-bold py-2 px-2 uppercase"
      >
      Enviar
      </button>
    </div>
  </form>

</div>

  <div class="flex justify-center">
      <span>¿Tienes ya cuenta? <a class="font-bold hover:text-blue-400" [routerLink]="['/Cliente/Login']">Logueate aquí!</a></span>
  </div>