<div class="container text-lg flex flex-col justify-center mx-5 items-center border gap-y-10 p-6">
  <h1 class="text-2xl font-bold mb-4 p-2">Lista de Pedidos</h1>
  <div class="flex overflow-x-auto items-start">
      <!-- Aquí se mostrarán los pedidos -->
      @for(pedido of this.pedidos; track pedido) {
        <!-- card de cada pedido -->
        <div class="border rounded p-8 flex-none max-w-[500px] mr-10 mb-10">
          <h2 class="text-lg font-semibold mb-2">{{ pedido.nombreUsuario }}</h2>
          <p class="mb-2">Hora de pedido: {{ formatDate(pedido.horaPedido!) }}</p>
          <p class="mb-2">Detalle: {{ pedido.comidas }}</p>
          <!-- Agregar aquí un icono para indicar que el pedido está listo -->
          <button (click)="marcarPedidoListo(pedido)" class="bg-green-500 text-white px-4 py-2 rounded">Marcar como listo</button>
        </div>
      }
  </div>
</div>

