<div class="flex flex-col justify-center items-center " >
  @if (this.menu) {
    <!-- TODO refactorizar esto al header -->
    <div id="mobile" class="flex justify-center items-center  fixed inset-0 text-white">
      <div  (click)="onToggleMenu(!this.menu)" class="font-bold text-4xl" >
        <span class="cursor-pointer absolute right-20 top-20 ">
          <i class="fa-solid fa-x"></i>
        </span>
        <div class="flex flex-col gap-y-10  justify-center items-center">
          <a [routerLink]="['/Restaurante/Comidas']" class="cursor-pointer">Carta</a>
          <span class="cursor-pointer">Quiénes somos</span>
          <a [routerLink]="[this.linkRol]" class="cursor-pointer">zona {{ this.user?.rol }}</a>
          <span (click)="onTogglePedido(true)" class="cursor-pointer">Gustados</span>
          <span [routerLink]="['/Restaurante/Reservas']" class="px-5 block mt-4 xl:inline-block xl:mt-0">
            Reservar
          </span>
          <a [routerLink]="['Restaurante/Pedido']" class="cursor-pointer">Comprados</a>
          <span (click)="logout()" class="cursor-pointer text-red-500"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
        </div>
      </div>
    </div>
  } @else {
      <app-header class="w-full fixed top-0 z-[60]" [menu]="menu" (emitirNavbar)="recibirNavbar($event)" (toggleMenu)="onToggleMenu($event)" [pedido]="showPedido" (togglePedido)="onTogglePedido($event)"/>
      @if(this.showPedido){
          <app-comidascompradas [pedido]="showPedido" (togglePedido)="onTogglePedido($event)" />
      }
     
  }
  
  <div class="flex flex-col justify-center items-center mt-20" (click)="togglePedido()">
    <!-- svg chat -->
    @if(user?.apellido) {
      <button (click)="showChat = !showChat" title="mensajes" class="absolute right-5 bottom-5 rounded-full border p-4">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-message"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9h8" /><path d="M8 13h6" /><path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" /></svg>
      </button>
    }
   @if(showChat){
    <app-chat (closeChat)="showChat = !showChat"></app-chat>
   }
    <router-outlet />
  </div>
  
</div>



