
<div class="2xl:mx-64 md:mt-0 px-5 gap-y-5 pb-5 flex flex-col justify-center items-center ">

  <div class="platos font-bold text-3xl ml-2 mb-2 xl:mt-10 ">{{ titulo }}</div>
    <div class="flex flex-col justify-center items-center p-4 px-8 rounded-lg shadow-md border-s">
      <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-x-10 justify-center items-center">
        @for(comida of this.comidas ; track comida.id){
          <div class="flex flex-col justify-center items-center p-2">
            <a class="border shadow rounded-2xl">
              <img [routerLink]="['/Restaurante/Detalle/', comida.id]" [src]="comida.imagenBASE64"
                alt="Imagen de la comida" class="w-80 h-52 cursor-pointer rounded-2xl object-cover">
              <div class="w-80 flex justify-between items-center px-2 py-2">
                <p class="font-semibold">{{comida.nombre}}</p>
                <div class="flex gap-x-2">
                  <h3 class="font-serif">{{comida.precio}}€</h3>
                </div>
              </div>
            </a>
          </div>
        }
      </div>
  </div>

</div>