<div class="mt-14">
  <!-- background chat-->
  <div class="bg-[#A97D5D] h-[100vh] w-[100vw] fixed top-0 right-0 z-10">
    <!-- chat header -->
    <div class="flex flex-row justify-between p-10 font-bold">
      <h3 class="text-white">Chat</h3>
    </div>
    <!-- chat body -->
    <div class="flex flex-col h-[80vh] overflow-y-auto px-4">
      <!-- chat messages -->
      <div *ngFor="let msg of messageList" class="flex flex-col my-2">
        <div [ngClass]="{'self-end': msg.user.id === user.id, 'self-start': msg.user.id !== user.id}" class="flex flex-row gap-x-5 bg-[#F7DCB4] p-4 rounded-lg">
          <img src="https://via.placeholder.com/150" alt="Imagen del usuario" class="w-10 h-10 rounded-full object-cover">
          <div class="flex flex-col">
            <div class="text-gray-800 font-bold">
              <p>{{ msg.user.nombre }}</p>
            </div>
            <div class="text-gray-800">
              <p>{{ msg.message }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- chat input -->
    <div class="p-2 mb-5 flex justify-center items-center">
      <input [(ngModel)]="message.message" type="text" class="bg-[#F7DCB4] text-black rounded-md text-lg px-2 py-1 mr-2" placeholder="Escribe tu mensaje">
      <button (click)="sendMessage()" class="bg-green-600 text-white rounded-md text-lg px-2 py-1">Enviar</button>
    </div>
  </div>
</div>
