<body
  class="flex flex-col items-center justify-center w-[30vw] fixed z-[90] rounded-xl bottom-0 right-0 h-1/2 bg-[#E7FFF7] text-gray-800 p-10">
  <!-- Component Start -->
  <div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-lg overflow-hidden ">
    <button class="absolute top-3 right-3 text-gray-500 hover:text-gray-700" (click)="toggleChatState()">
      <!-- img cerrar -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icon-tabler-x">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </button>

    <div class="flex flex-col flex-grow h-0 p-4 overflow-auto relative chat-container">
      <ng-container *ngFor="let message of messageList">
        <div class="flex w-full mt-2 space-x-3 max-w-xs"
          [ngClass]="{'ml-auto justify-end': message.user.id === user.id}">
          <div *ngIf="message.user.id !== user.id" class="flex-shrink-0 h-10 w-10 rounded-full">
            <img [src]="getUserImage(message.user.rol)" alt="User Image"
              class="h-full w-full rounded-full object-cover">
          </div>
          <div>
            <div
              [ngClass]="{'bg-blue-600 text-white rounded-l-lg rounded-br-lg': message.user.id === user.id, 'bg-gray-300 rounded-r-lg rounded-bl-lg': message.user.id !== user.id}"
              class="p-3">
              <p class="text-sm">{{ message.message }}</p>
            </div>
            <span class="text-xs text-gray-500 leading-none">{{ getTime(message.fecha_envio!)}}</span>
          </div>
          <div *ngIf="message.user.id === user.id" class="flex-shrink-0 h-10 w-10 rounded-full">
            <img [src]="getUserImage(user.rol)" alt="User Image" class="h-full w-full rounded-full object-cover">
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Chat input -->
    <div class="bg-gray-300 p-4 flex">
      <input class="flex items-center h-10 w-full rounded px-3 text-sm" type="text" placeholder="Escribe tu mensaje"
        [(ngModel)]="message.message" (keydown.enter)="sendMessage()">
      <button class="ml-2 bg-blue-600 text-white p-2 rounded" (click)="sendMessage()">
        <!-- img send message -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-send">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 14l11 -11" />
          <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
        </svg>
      </button>
    </div>

  </div>
  <!-- Component End  -->
</body>